table{margin-bottom: 10px;}
table,tr,td,th {
    border: 5px solid #ddd;
    border-collapse: collapse;
    padding: 10px;
}
ul{
    margin: 0 0 15x;
    padding: 0;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
}
ul li a{
    color: black;
    background-color: red;
    padding: 10px 25px;
}